<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MongoDBConnextion" type="SQLi.NoSql.API.Core.DBConnexionConfig,SQLi.NoSql.API.Core"/>
    <section name="CassandraConnextion" type="SQLi.NoSql.API.Core.DBConnexionConfig,SQLi.NoSql.API.Core"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  
  <MongoDBConnextion  Host="192.168.157.149" Port="27017" DataBase="TransactionLogger"/>
  <CassandraConnextion Host="192.168.157.148" Port="9042" DataBase="excelsior"/>
  
</configuration>